<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <ul>
  <%    if(messages.success_msg) { %>
        <li><%= messages.success_msg %></li>
 <% } %> 
    </ul>

    <ul>
        <% if (messages.error ) { %>
        <li><%= messages.error %></li>
        <% } %>
    </ul>
    <form action="/users/login" method="post">
       
        <div>
            <input type="email" name="email" id="email" placeholder="john@gmail.com" required>
        </div>

        <div>
            <input type="password" name="password" id="password" placeholder="password" required>
        </div>

    
        <div>
            <input type="Submit">
        </div>

        <a href="/users/register">Not registered? Register here</a>
    </form>
</body>
</html>